In [1]:
from minio import Minio
import pandas as pd
import numpy as np
from io import BytesIO

client = Minio("0.0.0.0:9000",
    access_key="5MpW7tf4J1U4KKvzLm7X",
    secret_key="bOpLlAAeSqJgfZBvLZFNRZA9o1eP5Mc7l7ea8R4V",
    secure=False,
)

# result = client.put_object(
#     "datasets", "test.csv", data=csv_buffer, length=len(csv_bytes), content_type="application/csv"
# )
dataset_list = ["energy_dataset.csv", "weather_features.csv"]

def fetch_from_minio(filename, bucket_name):

    response = client.get_object(bucket_name, filename)
    
    try:
        file_content = BytesIO(response.read())
        df = pd.read_csv(file_content, index_col=False)
    finally:
        response.close()
        response.release_conn()
    return df

energy_df, weather_df = [fetch_from_minio(filename, "datasets") for filename in dataset_list]

In [ ]:
# Preprocess the file
df_list = [energy_df, weather_df]

for i, df in enumerate(df_list): #this for is only 2 items

    # Drop the columns that only contain Nones and/or NaNs and all 0s
    for col in df:
        if (
            df[col].isnull().all() or 
            (df[col].dtype != "datetime64[ns, UTC]" and df[col].sum() == 0)
        ):
            df = df.drop(columns=[col], axis=1)
    
    # Set the time to datetime type and set as index
    if "dt_iso" in df.columns:
        df['time'] = pd.to_datetime(df['dt_iso'], utc=True, infer_datetime_format=True)
        df = df.drop(['dt_iso'], axis=1) #not getting dropped here
        df = df.set_index('time')
    elif "time" in df.columns:
        df['time'] = pd.to_datetime(df['time'], utc=True, infer_datetime_format=True)
        df = df.set_index('time')

    #check for duplicates

    duplicate_row_count = df.duplicated(keep='first').sum()
    if duplicate_row_count > 0:
        df = df.reset_index().drop_duplicates(subset=['time', 'city_name'],
                                                keep='first').set_index('time')

    #convert any ints to floats
    cols = df.select_dtypes(include=[np.int64]).columns
    for col in cols:
        df[col] = df[col].values.astype(np.float64)
    
    #drop any textual columns
    df = df.drop(columns=[col for col in df.columns if df[col].dtypes == 'object' and col != "city_name"])

    #remove extreme pressure outliers for weather df
    if "pressure" in df.columns:
        df.loc[df.pressure > 1051, 'pressure'] = np.nan
        df.loc[df.pressure < 931, 'pressure'] = np.nan
    
    if "wind_speed" in df.columns:
        df.loc[df.wind_speed > 50, 'wind_speed'] = np.nan

    #interpolate any null values
    null_value_count = df.isnull().values.sum()
    if null_value_count > 0:
        df.interpolate(method='linear', limit_direction='forward', inplace=True, axis=0)

    df_list[i] = df

# seperate weather dfs
weather_df = df_list[1]
energy_df = df_list[0]
if "rain_3h" in weather_df.columns:
    weather_df = weather_df.drop(['rain_3h'], axis=1) #drop unreliable feature
weather_df_1, weather_df_2, weather_df_3, weather_df_4, weather_df_5 = [x for _, x in weather_df.groupby('city_name')]
weather_dfs = [weather_df_1, weather_df_2, weather_df_3, weather_df_4, weather_df_5]

#merge into one df
df_final = energy_df

for df in weather_dfs:
    city = df['city_name'].unique()
    city_str = str(city).replace("'", "").replace('[', '').replace(']', '').replace(' ', '')
    df = df.add_suffix('_{}'.format(city_str))
    df_final = df_final.merge(df, on=['time'], how='outer')
    df_final = df_final.drop('city_name_{}'.format(city_str), axis=1)

#save preprocessed df to minio
save_df_as_csv_to_minio(df_final, "merged_preprocessed.csv", idx=True)

/var/folders/v7/bdkd1w4x4lb24ppj_z8h56fh0000gn/T/ipykernel_98888/497808758.py:20: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['time'] = pd.to_datetime(df['time'], utc=True, infer_datetime_format=True)
/var/folders/v7/bdkd1w4x4lb24ppj_z8h56fh0000gn/T/ipykernel_98888/497808758.py:16: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['time'] = pd.to_datetime(df['dt_iso'], utc=True, infer_datetime_format=True)

In [27]:
weather_df

,city_name,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,snow_3h,clouds_all,weather_id
time,,,,,,,,,,,,
2014-12-31 23:00:00+00:00,Valencia,270.475,270.475,270.475,1001.0,77.0,1.0,62.0,0.0,0.0,0.0,800.0
2015-01-01 00:00:00+00:00,Valencia,270.475,270.475,270.475,1001.0,77.0,1.0,62.0,0.0,0.0,0.0,800.0
2015-01-01 01:00:00+00:00,Valencia,269.686,269.686,269.686,1002.0,78.0,0.0,23.0,0.0,0.0,0.0,800.0
2015-01-01 02:00:00+00:00,Valencia,269.686,269.686,269.686,1002.0,78.0,0.0,23.0,0.0,0.0,0.0,800.0
2015-01-01 03:00:00+00:00,Valencia,269.686,269.686,269.686,1002.0,78.0,0.0,23.0,0.0,0.0,0.0,800.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2018-12-31 18:00:00+00:00,Seville,287.760,287.150,288.150,1028.0,54.0,3.0,30.0,0.0,0.0,0.0,800.0
2018-12-31 19:00:00+00:00,Seville,285.760,285.150,286.150,1029.0,62.0,3.0,30.0,0.0,0.0,0.0,800.0
2018-12-31 20:00:00+00:00,Seville,285.150,285.150,285.150,1028.0,58.0,4.0,50.0,0.0,0.0,0.0,800.0
2018-12-31 21:00:00+00:00,Seville,284.150,284.150,284.150,1029.0,57.0,4.0,60.0,0.0,0.0,0.0,800.0
2018-12-31 22:00:00+00:00,Seville,283.970,282.150,285.150,1029.0,70.0,3.0,50.0,0.0,0.0,0.0,800.0

In [14]:
energy_df

,time,generation biomass,generation fossil brown coal/lignite,generation fossil coal-derived gas,generation fossil gas,generation fossil hard coal,generation fossil oil,generation fossil oil shale,generation fossil peat,generation geothermal,...,generation waste,generation wind offshore,generation wind onshore,forecast solar day ahead,forecast wind offshore eday ahead,forecast wind onshore day ahead,total load forecast,total load actual,price day ahead,price actual
0,2015-01-01 00:00:00+01:00,447.0,329.0,0.0,4844.0,4821.0,162.0,0.0,0.0,0.0,...,196.0,0.0,6378.0,17.0,NaN,6436.0,26118.0,25385.0,50.10,65.41
1,2015-01-01 01:00:00+01:00,449.0,328.0,0.0,5196.0,4755.0,158.0,0.0,0.0,0.0,...,195.0,0.0,5890.0,16.0,NaN,5856.0,24934.0,24382.0,48.10,64.92
2,2015-01-01 02:00:00+01:00,448.0,323.0,0.0,4857.0,4581.0,157.0,0.0,0.0,0.0,...,196.0,0.0,5461.0,8.0,NaN,5454.0,23515.0,22734.0,47.33,64.48
3,2015-01-01 03:00:00+01:00,438.0,254.0,0.0,4314.0,4131.0,160.0,0.0,0.0,0.0,...,191.0,0.0,5238.0,2.0,NaN,5151.0,22642.0,21286.0,42.27,59.32
4,2015-01-01 04:00:00+01:00,428.0,187.0,0.0,4130.0,3840.0,156.0,0.0,0.0,0.0,...,189.0,0.0,4935.0,9.0,NaN,4861.0,21785.0,20264.0,38.41,56.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35059,2018-12-31 19:00:00+01:00,297.0,0.0,0.0,7634.0,2628.0,178.0,0.0,0.0,0.0,...,277.0,0.0,3113.0,96.0,NaN,3253.0,30619.0,30653.0,68.85,77.02
35060,2018-12-31 20:00:00+01:00,296.0,0.0,0.0,7241.0,2566.0,174.0,0.0,0.0,0.0,...,280.0,0.0,3288.0,51.0,NaN,3353.0,29932.0,29735.0,68.40,76.16
35061,2018-12-31 21:00:00+01:00,292.0,0.0,0.0,7025.0,2422.0,168.0,0.0,0.0,0.0,...,286.0,0.0,3503.0,36.0,NaN,3404.0,27903.0,28071.0,66.88,74.30
35062,2018-12-31 22:00:00+01:00,293.0,0.0,0.0,6562.0,2293.0,163.0,0.0,0.0,0.0,...,287.0,0.0,3586.0,29.0,NaN,3273.0,25450.0,25801.0,63.93,69.89
35063,2018-12-31 23:00:00+01:00,290.0,0.0,0.0,6926.0,2166.0,163.0,0.0,0.0,0.0,...,287.0,0.0,3651.0,26.0,NaN,3117.0,24424.0,24455.0,64.27,69.88

In [25]:
weather_df

,dt_iso,city_name,temp,temp_min,temp_max,pressure,humidity,wind_speed,wind_deg,rain_1h,snow_3h,clouds_all,weather_id,weather_main,weather_description,weather_icon,time
0,2015-01-01 00:00:00+01:00,Valencia,270.475,270.475,270.475,1001,77,1,62,0.0,0.0,0,800,clear,sky is clear,01n,2014-12-31 23:00:00+00:00
1,2015-01-01 01:00:00+01:00,Valencia,270.475,270.475,270.475,1001,77,1,62,0.0,0.0,0,800,clear,sky is clear,01n,2015-01-01 00:00:00+00:00
2,2015-01-01 02:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0,800,clear,sky is clear,01n,2015-01-01 01:00:00+00:00
3,2015-01-01 03:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0,800,clear,sky is clear,01n,2015-01-01 02:00:00+00:00
4,2015-01-01 04:00:00+01:00,Valencia,269.686,269.686,269.686,1002,78,0,23,0.0,0.0,0,800,clear,sky is clear,01n,2015-01-01 03:00:00+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
178391,2018-12-31 19:00:00+01:00,Seville,287.760,287.150,288.150,1028,54,3,30,0.0,0.0,0,800,clear,sky is clear,01n,2018-12-31 18:00:00+00:00
178392,2018-12-31 20:00:00+01:00,Seville,285.760,285.150,286.150,1029,62,3,30,0.0,0.0,0,800,clear,sky is clear,01n,2018-12-31 19:00:00+00:00
178393,2018-12-31 21:00:00+01:00,Seville,285.150,285.150,285.150,1028,58,4,50,0.0,0.0,0,800,clear,sky is clear,01n,2018-12-31 20:00:00+00:00
178394,2018-12-31 22:00:00+01:00,Seville,284.150,284.150,284.150,1029,57,4,60,0.0,0.0,0,800,clear,sky is clear,01n,2018-12-31 21:00:00+00:00
178395,2018-12-31 23:00:00+01:00,Seville,283.970,282.150,285.150,1029,70,3,50,0.0,0.0,0,800,clear,sky is clear,01n,2018-12-31 22:00:00+00:00

In [28]:
df_final = energy_df

for df in weather_dfs:
    city = df['city_name'].unique()
    city_str = str(city).replace("'", "").replace('[', '').replace(']', '').replace(' ', '')
    df = df.add_suffix('_{}'.format(city_str))
    df_final = df_final.merge(df, on=['time'], how='outer')
    df_final = df_final.drop('city_name_{}'.format(city_str), axis=1)

In [29]:
df_final.shape

(35064, 75)

In [30]:
35064 * 75

2629800

In [31]:
correlations = df_final.corr(method='pearson')
print(correlations['price actual'].sort_values(ascending=False).to_string())

price actual                                   1.000000
price day ahead                                0.732155
generation fossil hard coal                    0.465637
generation fossil gas                          0.461452
total load forecast                            0.435864
total load actual                              0.435253
generation fossil brown coal/lignite           0.363993
generation fossil oil                          0.285050
generation other renewable                     0.255551
pressure_Barcelona                             0.249177
pressure_Bilbao                                0.194063
generation waste                               0.168710
generation biomass                             0.142671
temp_min_Valencia                              0.133141
pressure_Valencia                              0.109812
temp_min_Barcelona                             0.103726
forecast solar day ahead                       0.101402
generation other                               0.099914
generation solar                               0.098529
temp_max_Madrid                                0.096279
temp_Valencia                                  0.090505
pressure_Seville                               0.090162
temp_Madrid                                    0.087995
temp_Barcelona                                 0.085857
humidity_Valencia                              0.078819
weather_id_Bilbao                              0.077476
temp_min_Seville                               0.077296
temp_max_Bilbao                                0.076766
temp_min_Bilbao                                0.074776
temp_Bilbao                                    0.073018
generation hydro water reservoir               0.071910
temp_max_Barcelona                             0.068936
temp_min_Madrid                                0.066777
weather_id_Seville                             0.059093
temp_Seville                                   0.050274
temp_max_Valencia                              0.047478
clouds_all_Valencia                            0.040055
weather_id_Barcelona                           0.039293
pressure_Madrid                                0.018756
weather_id_Madrid                              0.015255
snow_3h_Bilbao                                 0.014920
rain_1h_Valencia                               0.012049
snow_3h_Valencia                               0.007461
temp_max_Seville                               0.003253
humidity_Bilbao                               -0.000450
snow_3h_Madrid                                -0.008427
weather_id_Valencia                           -0.023139
rain_1h_Madrid                                -0.027137
clouds_all_Barcelona                          -0.027599
rain_1h_Seville                               -0.034887
humidity_Barcelona                            -0.037682
generation nuclear                            -0.053016
rain_1h_Barcelona                             -0.055130
humidity_Madrid                               -0.064668
wind_speed_Seville                            -0.078469
rain_1h_Bilbao                                -0.078806
clouds_all_Madrid                             -0.079415
wind_deg_Madrid                               -0.082756
clouds_all_Seville                            -0.086233
wind_deg_Valencia                             -0.092710
wind_deg_Barcelona                            -0.096248
humidity_Seville                              -0.103004
wind_deg_Bilbao                               -0.103097
clouds_all_Bilbao                             -0.132669
generation hydro run-of-river and poundage    -0.136659
wind_deg_Seville                              -0.137099
wind_speed_Barcelona                          -0.138658
wind_speed_Valencia                           -0.142360
wind_speed_Bilbao                             -0.143327
generation wind onshore                       -0.220497
forecast wind onshore day ahead               -0.221706
wind_speed_Madrid                             -0.245861
generation hydro pumped storage consumption   -0.426196
snow_3h_Barcelona                                   NaN
snow_3h_Seville                                     NaN

In [33]:
highly_correlated = abs(correlations[correlations > 0.75])
print(highly_correlated[highly_correlated < 1.0].stack().to_string())

generation fossil brown coal/lignite  generation fossil hard coal             0.768831
generation fossil hard coal           generation fossil brown coal/lignite    0.768831
generation solar                      forecast solar day ahead                0.993244
generation wind onshore               forecast wind onshore day ahead         0.994457
forecast solar day ahead              generation solar                        0.993244
forecast wind onshore day ahead       generation wind onshore                 0.994457
total load forecast                   total load actual                       0.995096
total load actual                     total load forecast                     0.995096
temp_Barcelona                        temp_min_Barcelona                      0.970264
                                      temp_max_Barcelona                      0.976904
                                      temp_Bilbao                             0.866727
                                      temp_min_Bilbao                         0.867970
                                      temp_max_Bilbao                         0.828347
                                      temp_Madrid                             0.903996
                                      temp_min_Madrid                         0.874548
                                      temp_max_Madrid                         0.899010
                                      temp_Seville                            0.841910
                                      temp_min_Seville                        0.863566
                                      temp_Valencia                           0.917506
                                      temp_min_Valencia                       0.898616
                                      temp_max_Valencia                       0.913727
temp_min_Barcelona                    temp_Barcelona                          0.970264
                                      temp_max_Barcelona                      0.901932
                                      temp_Bilbao                             0.820751
                                      temp_min_Bilbao                         0.837357
                                      temp_max_Bilbao                         0.772270
                                      temp_Madrid                             0.860832
                                      temp_min_Madrid                         0.846014
                                      temp_max_Madrid                         0.844725
                                      temp_Seville                            0.777557
                                      temp_min_Seville                        0.825614
                                      temp_Valencia                           0.885372
                                      temp_min_Valencia                       0.889764
                                      temp_max_Valencia                       0.858473
temp_max_Barcelona                    temp_Barcelona                          0.976904
                                      temp_min_Barcelona                      0.901932
                                      temp_Bilbao                             0.867023
                                      temp_min_Bilbao                         0.855948
                                      temp_max_Bilbao                         0.838669
                                      temp_Madrid                             0.899022
                                      temp_min_Madrid                         0.858746
                                      temp_max_Madrid                         0.904141
                                      temp_Seville                            0.855754
                                      temp_min_Seville                        0.856268
                                      temp_Valencia                           0.903660
                                      temp_min_Valencia                       0.868367
                                      temp_max_Valencia                       0.917486
temp_Bilbao                           temp_Barcelona                          0.866727
                                      temp_min_Barcelona                      0.820751
                                      temp_max_Barcelona                      0.867023
                                      temp_min_Bilbao                         0.981735
                                      temp_max_Bilbao                         0.977933
                                      temp_Madrid                             0.872668
                                      temp_min_Madrid                         0.840910
                                      temp_max_Madrid                         0.867697
                                      temp_Seville                            0.821292
                                      temp_min_Seville                        0.831719
                                      temp_Valencia                           0.853744
                                      temp_min_Valencia                       0.833132
                                      temp_max_Valencia                       0.853441
temp_min_Bilbao                       temp_Barcelona                          0.867970
                                      temp_min_Barcelona                      0.837357
                                      temp_max_Barcelona                      0.855948
                                      temp_Bilbao                             0.981735
                                      temp_max_Bilbao                         0.923114
                                      temp_Madrid                             0.872932
                                      temp_min_Madrid                         0.846695
                                      temp_max_Madrid                         0.861680
                                      temp_Seville                            0.807084
                                      temp_min_Seville                        0.836858
                                      temp_Valencia                           0.847042
                                      temp_min_Valencia                       0.833425
                                      temp_max_Valencia                       0.840374
temp_max_Bilbao                       temp_Barcelona                          0.828347
                                      temp_min_Barcelona                      0.772270
                                      temp_max_Barcelona                      0.838669
                                      temp_Bilbao                             0.977933
                                      temp_min_Bilbao                         0.923114
                                      temp_Madrid                             0.836002
                                      temp_min_Madrid                         0.800589
                                      temp_max_Madrid                         0.836532
                                      temp_Seville                            0.798354
                                      temp_min_Seville                        0.790140
                                      temp_Valencia                           0.827265
                                      temp_min_Valencia                       0.802560
                                      temp_max_Valencia                       0.831199
temp_Madrid                           temp_Barcelona                          0.903996
                                      temp_min_Barcelona                      0.860832
                                      temp_max_Barcelona                      0.899022
                                      temp_Bilbao                             0.872668
                                      temp_min_Bilbao                         0.872932
                                      temp_max_Bilbao                         0.836002
                                      temp_min_Madrid                         0.976940
                                      temp_max_Madrid                         0.988554
                                      temp_Seville                            0.909421
                                      temp_min_Seville                        0.930784
                                      temp_Valencia                           0.912281
                                      temp_min_Valencia                       0.893334
                                      temp_max_Valencia                       0.909834
temp_min_Madrid                       temp_Barcelona                          0.874548
                                      temp_min_Barcelona                      0.846014
                                      temp_max_Barcelona                      0.858746
                                      temp_Bilbao                             0.840910
                                      temp_min_Bilbao                         0.846695
                                      temp_max_Bilbao                         0.800589
                                      temp_Madrid                             0.976940
                                      temp_max_Madrid                         0.943617
                                      temp_Seville                            0.869154
                                      temp_min_Seville                        0.904311
                                      temp_Valencia                           0.874935
                                      temp_min_Valencia                       0.862004
                                      temp_max_Valencia                       0.868622
temp_max_Madrid                       temp_Barcelona                          0.899010
                                      temp_min_Barcelona                      0.844725
                                      temp_max_Barcelona                      0.904141
                                      temp_Bilbao                             0.867697
                                      temp_min_Bilbao                         0.861680
                                      temp_max_Bilbao                         0.836532
                                      temp_Madrid                             0.988554
                                      temp_min_Madrid                         0.943617
                                      temp_Seville                            0.910091
                                      temp_min_Seville                        0.914793
                                      temp_max_Seville                        0.773055
                                      temp_Valencia                           0.911567
                                      temp_min_Valencia                       0.887747
                                      temp_max_Valencia                       0.913263
humidity_Madrid                       humidity_Seville                        0.772896
temp_Seville                          temp_Barcelona                          0.841910
                                      temp_min_Barcelona                      0.777557
                                      temp_max_Barcelona                      0.855754
                                      temp_Bilbao                             0.821292
                                      temp_min_Bilbao                         0.807084
                                      temp_max_Bilbao                         0.798354
                                      temp_Madrid                             0.909421
                                      temp_min_Madrid                         0.869154
                                      temp_max_Madrid                         0.910091
                                      temp_min_Seville                        0.957684
                                      temp_max_Seville                        0.915622
                                      temp_Valencia                           0.860792
                                      temp_min_Valencia                       0.824563
                                      temp_max_Valencia                       0.874618
temp_min_Seville                      temp_Barcelona                          0.863566
                                      temp_min_Barcelona                      0.825614
                                      temp_max_Barcelona                      0.856268
                                      temp_Bilbao                             0.831719
                                      temp_min_Bilbao                         0.836858
                                      temp_max_Bilbao                         0.790140
                                      temp_Madrid                             0.930784
                                      temp_min_Madrid                         0.904311
                                      temp_max_Madrid                         0.914793
                                      temp_Seville                            0.957684
                                      temp_max_Seville                        0.763627
                                      temp_Valencia                           0.874422
                                      temp_min_Valencia                       0.854231
                                      temp_max_Valencia                       0.873069
temp_max_Seville                      temp_max_Madrid                         0.773055
                                      temp_Seville                            0.915622
                                      temp_min_Seville                        0.763627
                                      temp_max_Valencia                       0.753980
humidity_Seville                      humidity_Madrid                         0.772896
temp_Valencia                         temp_Barcelona                          0.917506
                                      temp_min_Barcelona                      0.885372
                                      temp_max_Barcelona                      0.903660
                                      temp_Bilbao                             0.853744
                                      temp_min_Bilbao                         0.847042
                                      temp_max_Bilbao                         0.827265
                                      temp_Madrid                             0.912281
                                      temp_min_Madrid                         0.874935
                                      temp_max_Madrid                         0.911567
                                      temp_Seville                            0.860792
                                      temp_min_Seville                        0.874422
                                      temp_min_Valencia                       0.987013
                                      temp_max_Valencia                       0.988203
temp_min_Valencia                     temp_Barcelona                          0.898616
                                      temp_min_Barcelona                      0.889764
                                      temp_max_Barcelona                      0.868367
                                      temp_Bilbao                             0.833132
                                      temp_min_Bilbao                         0.833425
                                      temp_max_Bilbao                         0.802560
                                      temp_Madrid                             0.893334
                                      temp_min_Madrid                         0.862004
                                      temp_max_Madrid                         0.887747
                                      temp_Seville                            0.824563
                                      temp_min_Seville                        0.854231
                                      temp_Valencia                           0.987013
                                      temp_max_Valencia                       0.953445
temp_max_Valencia                     temp_Barcelona                          0.913727
                                      temp_min_Barcelona                      0.858473
                                      temp_max_Barcelona                      0.917486
                                      temp_Bilbao                             0.853441
                                      temp_min_Bilbao                         0.840374
                                      temp_max_Bilbao                         0.831199
                                      temp_Madrid                             0.909834
                                      temp_min_Madrid                         0.868622
                                      temp_max_Madrid                         0.913263
                                      temp_Seville                            0.874618
                                      temp_min_Seville                        0.873069
                                      temp_max_Seville                        0.753980
                                      temp_Valencia                           0.988203
                                      temp_min_Valencia                       0.953445